
<div id="footer">

    <ul class="footer-nav">
      <h3>Company</h3>
        <li><a href="">About us</a></li>
        <li><a href="">How it works</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Contact us</a></li>
    </ul>

    <ul class="footer-nav">
      <h3>Explore</h3>
        <li><a href="">Featured cities</a></li>
        <li><a href="">Suggested itineraries</a></li>
    </ul>

    <ul class="social-media">
      <h3>Connect with us</h3>
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></a></i></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></a></i></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></a></i></li>
    </ul>



</div> <!-- end of footer -->
