<div class="mycontainer">


  <div class="headerRow">
    <div class="words">
      <a><%= link_to 'Login', login_path%></a>
      <a><%= link_to 'Register', login_path, class: "waves-effect waves-green btn-flat"%></a>
    </div>
  </div>


  <div class="navTop">
    <div class="words2">
      <!-- <div><a  id="logo"href="" src="./assets/img/Travelize_Logo.png"></a></div> -->
      <a class=".btn-5" href="">About</a>
      <a class=".btn-5" href="">My Trips</a>
      <!-- <a class=".btn-5" href="">Shop</a> -->
      <a class=".btn-5" href="">Story</a>
      <a class=".btn-5" href="">Contact</a>
    </div>
  </div>
