<%= form_for @user , html: {multipart: true } do |f| %>


<div class="field2">
  <%= f.label :avatar ,class: "new"%>
  <%= f.file_field :avatar , class:"paperLabel"%>
</div>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>
