/*-webkit---------------------HEADER: ;*/
/*-moz---------------------HEADER: ;*/
/*-ms---------------------HEADER: ;*/
/*-o---------------------HEADER: ;*/
/*--------------------HEADER: ;*/

.headerRow {
  background-color: #black;
  height: 35px;
}


.headerRow .words {
  width: 175px;
  height: 100%;
  float: right;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  padding-right: 30px;
}

.headerRow .words a {
  text-decoration: none;
  text-transform: uppercase;
  color: #gray;
  font-size: 11px;
  line-height: 35px;
  &:hover {
    color: #ffffff;
  }
}

.words {
  color:  #a5a5a6;
}

.modal-content {
      margin-top: 190px;
}

.navTop {
  height: 70px;
  background-color: #black;
  display: flex;
}

.navTop .words2 {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  border-top: solid .05px rgba(135,135,135,0.3);
  border-bottom:  solid .05px rgba(135,135,135,0.1);
}

.navTop .words2 a {
  color: #a5a5a6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 70px;
  padding: 0 45px 0 45px;
  &:hover {
    color: #ffffff;
  }
}





#footer {
  padding-top: 70px;
  height: 280px;

  margin-top: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  color: #1F0B44;

  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0A5673 , #513783); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0A5673 , #513783); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}

/*// ----------------------FOOTER
// ----------------------FOOTER
// ----------------------FOOTER
// ----------------------FOOTER*/
#footer ul {
  position: relative;
  left: -20px;
}
#footer li {
  list-style-type: none;
  font-size: .95em;
  padding-bottom: 3px;
}

.footer-nav, .social-media {
  // border-left: 1px solid #084A63;
box-shadow: -1px 0px 0px rgba(0,0,0,0.1);

}

#footer li a{
  text-decoration: none;
  color: #1F0B44;
}
#footer li a:hover{
  text-decoration: none;
  background-color: transparent;
  color: #d1d1d1;
}

#footer h3 {
color: #1F0B44;
  font-size: 1.2em;
  font-weight: bold;

}

.social-media li {
  display: inline;
  padding-right: 25px;
  color: #1F0B44;
}

.social-media {
  text-align: left;
}


.social-media li i {
  font-size: 20px;
}

#explore img {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      box-shadow: 1px 1px 12px #1D1D1D;

    }

    #explore img:hover{
      box-shadow: 1px 1px 12px #000;
      transition: box-shadow 0.5s ease;
      opacity: .8;
    }
    #explore {
      padding: 50px 0 20px 0;
      background-color: #222222;
      background-image:
        radial-gradient(
          circle,
          #5D5C5C,
          #1D1D1D
        );
      color: #DEDEDE;
      margin-top: 50px;
      font-size: .8em;
    }
    #explore ul {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;


    }

    #explore li{
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1em;
    height: 300px;
    width: 400px;
    text-align: center;
    }

    #explore h2 {
      text-transform: uppercase;
      padding-top: 20px;
      letter-spacing: .08em;
      font-size: 1.1em;
    }
