body {
  font-family:'Brandon Grotesque', sans-serif !important;
}
.mycontainer {
  min-width: 960px;
  background-color: #020204 ;
  width: 100%;
}
h1 {
  margin: 0;
}
/*-webkit---------------------HEADER: ;*/
/*-moz---------------------HEADER: ;*/
/*-ms---------------------HEADER: ;*/
/*-o---------------------HEADER: ;*/
/*--------------------HEADER: ;*/
.headerRow {
  background-color: #black;
  height: 35px;
}
.headerRow .words {
  height: 100%;
  float: right;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  padding-right: 30px;
  width: 250px;
  line-height: 2.6;
}
.headerRow .words a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a5a5a6;
  font-size: 11px;
  line-height: 35px;
  &:hover {
    background: linear-gradient(to left, #0A5673 , #513783 );
  }
}
.login {
  float: right;
  background-color: black;
  border: none;
  font-size: 11px;
  &:hover {
    background: linear-gradient(to left, #0A5673 , #513783 );
  }
}
.navTop {
  height: 70px;
  background-color: #black;
}
.navTop .words2 {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  border-top: solid .05px rgba(135,135,135,0.3);
  border-bottom:  solid .05px rgba(135,135,135,0.1);
}
.navTop .words2 a {
  color: #a5a5a6 ;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 70px;
  padding: 0 45px 0 45px;
  &:hover {
    background: linear-gradient(to left, #0A5673 , #513783 );
  }
}
#logo {
  float: left;
  background-image: image-path('images/Travelize_Logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  position: relative;
  margin-top: 8px;
  margin-left: 10px;
}
/*-webkit-------------------------MAIN: ;*/
/*-moz-------------------------MAIN: ;*/
/*-ms-------------------------MAIN: ;*/
/*-o-------------------------MAIN: ;*/
/*------------------------MAIN: ;*/
.createtrip {
  background: #0272bd;
  background-image: -webkit-linear-gradient(top, #0272bd, #60acdb);
  background-image: -moz-linear-gradient(top, #0272bd, #60acdb);
  background-image: -ms-linear-gradient(top, #0272bd, #60acdb);
  background-image: -o-linear-gradient(top, #0272bd, #60acdb);
  background-image: linear-gradient(to bottom, #0272bd, #60acdb);
  border-radius: 10px;
  letter-spacing: .15em;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  font-weight:100;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
}
.createtrip:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.main {
  // height: 671px;
  background-color: #123;
  max-height: 671px;
  background-image: url('background2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.hover {
  background-color: #c1c1c1 ;
  opacity: 30%;
}
.main2 {
  background-image: url('background4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}
.userInfo {
  height: 94%;
  color: #black;
  width: 70%;
  display: inline-block;
  background-color: rgba(255,255,255,.8);
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  justify-content: center;
  .userImage {
    background-color: lightblue;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 200px;
    margin: 10px 0 0 40px;
  }
}

.createtrip-venues2 {
   width: 60%;
   background: linear-gradient(to left,#0A5673 , #513783 );
   border-radius: 10px;
   letter-spacing: .15em;
   color: gray;
   font-size: 23px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   text-align: center;
   font-weight:100;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   margin-left:auto;
   margin-top: 20px;
   margin-right:auto;
   &:hover {
     color: #ffffff ;
     background: linear-gradient(to left, #513783 , #0A5673 );
     // background-image: -webkit-linear-gradient(top, #3cb0fd , #3498db );
     // background-image: -moz-linear-gradient(top, #3cb0fd , #3498db );
     // background-image: -ms-linear-gradient(top, #3cb0fd , #3498db );
     // background-image: -o-linear-gradient(top, #3cb0fd , #3498db );
     // background-image: linear-gradient(to bottom, #3cb0fd , #3498db );
     text-decoration: none;
   }
 }

#user_avatar {
  margin-bottom: 12px;
  color: black;

}
.userDetails {
  width: 30%;
  height: 100%;
}
.userName {
  padding-left: 40px;
  padding-top: 45px;
  font-size: 30px;
  max-width: 240px;
  margin-bottom: 20px;
      font-family: 'Brandon Grotesque', sans-serif !important;
      width: 300px;
}
.userEmail {
  padding-left: 40px;
      font-family: 'Brandon Grotesque', sans-serif !important;
  margin: 10px 0 30px 0;
  font-size: 16px;
}
// .userTrip {
//   height: 600px;
//   max-height: 600px;
//   color: black;
//   width: 30%;
//   display: inline-block;
//   float: right;
//   background-color: rgba(255,255,255,.9);
//   margin: 10px 0 10px 0;
// }
// .tripContainer {
//   background-color: rgba(255,255,255,.8);
//   width: 65%;
//   height: 100%;
//   float: right;
//   margin: 0 40px 0 0;
//   display: flex;
//   position: relative;
//   top: -397px;
//   padding-left: 20px;
// }
.myTripsHead {
margin-left: 40px;
background-color: transparent !important;
font-style: none !important;
color: #333;
text-decoration: none !important;
font-size: 24px;
}
.edit_user {
  margin: 0 auto;
  position: relative;
}
.triplist {
  position: relative;
  font-size: 23px;
  width: 70%;
  float: right;
  display: inline-block;
  top: -100%;
  height: 100%;
  padding-right: 10px;
  padding-top: 38px;
}
#tripsBox {
  // margin: 0 0 0 0;
  top: 10px;
}
.user-trip {
  position: relative;
  right: 530px;
  top: 100px;
  width: 200px;
  height: 45px;
  font-size: 1.4em !important;
}
.first-button{
  margin-left: 80px;
}
.display-title {
  display:block;
}
.btn-primary {
  color: #fff !important;
}
// .mytrips {
//   font-size: 2em;
//   // display: block;
// }
.mytrips-listings{
  position: relative;
  top: 180px;
}
.mytrips-listings li{
  list-style-type: none;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  min-width: 250px;
  min-height: 50px;
  background-color: blue;
  background: #444444;
  text-transform: uppercase;
  letter-spacing: .3em;
  color: lightgray;
  width: 90%;
  line-height: 26px;
  &:hover {
    background: linear-gradient(to left, #513783, #0A5673);
    // background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}
.actions input {
  color: lightgrey !important;
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0A5673 , #513783); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0A5673 , #513783); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px !important;
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  min-width: 50px;
  color: lightgrey;
  border-radius: 3px;
}
.actions input:hover {
  color: #fff !important;
}
.field2 input {
  color: lightgrey;
  border-radius: 3px;
  border: none;
}
.uploadavatar{
  margin-left: 40px;
  margin-bottom: 20px;
}
#cog {
  font-size: 13px;
  float: right;
  padding: 4px;
  line-height: 20px;
}
#eye {
  font-size: 13px;
  float: right;
  padding: 4px;
  line-height: 20px;
}
#trash {
  font-size: 13px;
  float: right;
  padding: 4px;
  line-height: 20px;
}
.mytrips-listings a:hover {
  text-decoration: none;
  color: white;
}
.mytrips-listings a {
  color: lightgray;
  background: none;
}
.myTripsHead {
margin-left: 40px;
background-color: none;
font-style: none;
color: #333;
text-decoration: none;
  // position:relative;
//   top: 20px;
//   left: 20px;
//   color: #0A5673;
//   font-size: 1.75em;
//   z-index: 1;
//   height: 30px;
}
.editBack {
  margin: 0 auto;
  position: relative;
margin-left: 40px;
}
.profileEdit {
  width: 50px;
}
.updateProfilePic {
  margin-top: 10px;
}
.profileEdit {
  color: lightgrey !important;
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0A5673 , #513783); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0A5673 , #513783); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  min-width: 50px;
  &:hover {
    background: linear-gradient(to left, #513783 , #0A5673 );
    text-decoration: none;
    color: #fff !important;
  }
}
@font-face{
  font-family:'Brandon Grotesque';
  src: url("assets/Brandon Grotesque/Brandon Grotesque Regular.otf") format("opentype");
  font-weight:normal;font-style:normal
}
@font-face{
  font-family:'Brandon Grotesque Bold';
  src:url("./assets/fonts/Brandon Grotesque/Brandon Grotesque Bold.otf") format("opentype");
  font-weight:bold;font-style:normal
}
