body {
  font-family:'Brandon Grotesque', sans-serif !important;
}
.mycontainer {
  min-width: 960px;
  background-color: #020204 ;
  width: 100%;
}
h1 {
  margin: 0;
}
/*-webkit---------------------HEADER: ;*/
/*-moz---------------------HEADER: ;*/
/*-ms---------------------HEADER: ;*/
/*-o---------------------HEADER: ;*/
/*--------------------HEADER: ;*/
.headerRow {
  background-color: #black;
  height: 35px;
}
.headerRow .words {
  height: 100%;
  float: right;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  padding-right: 30px;
  width: 250px;
  line-height: 2.3;
}
.headerRow .words a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a5a5a6 ;
  font-size: 11px;
  line-height: 35px;
  &:hover {
    background: linear-gradient(to left, #0A5673 , #513783 );
  }
}
.login {
  float: right;
  background-color: black;
  border: none;
  font-size: 11px;
  &:hover {
    background: linear-gradient(to left, #0A5673 , #513783 );
  }
}
.navTop {
  height: 70px;
  background-color: #black;
}
.navTop .words2 {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  border-top: solid .05px rgba(135,135,135,0.3);
  border-bottom:  solid .05px rgba(135,135,135,0.1);
}
.navTop .words2 a {
  color: #a5a5a6 ;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 70px;
  padding: 0 45px 0 45px;
  &:hover {
    background: linear-gradient(to left, #0A5673 , #513783 );
  }
}
#logo {
  float: left;
  background-image: url('Travelize_Logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: -5px;
  position: relative;
  margin-left: -420;
}
/*-webkit-------------------------MAIN: ;*/
/*-moz-------------------------MAIN: ;*/
/*-ms-------------------------MAIN: ;*/
/*-o-------------------------MAIN: ;*/
/*------------------------MAIN: ;*/
.createtrip {
  background: #0272bd;
  background-image: -webkit-linear-gradient(top, #0272bd, #60acdb);
  background-image: -moz-linear-gradient(top, #0272bd, #60acdb);
  background-image: -ms-linear-gradient(top, #0272bd, #60acdb);
  background-image: -o-linear-gradient(top, #0272bd, #60acdb);
  background-image: linear-gradient(to bottom, #0272bd, #60acdb);
  border-radius: 10px;
  letter-spacing: .15em;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  font-weight:100;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
}
.createtrip:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.main {
  // height: 671px;
  background-color: #123;
  max-height: 671px;
  background-image: url('background2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.hover {
  background-color: #c1c1c1 ;
  opacity: 30%;
}
.main2 {
  background-image: url('background4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}
.userInfo {
  height: inherit;
  color: #black;
  width: 70%;
  display: inline-block;
  background-color: rgba(255,255,255,.8);
  position: relative;
  margin: 0 auto;
  justify-content: center;
  .userImage {
    background-color: lightblue;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 200px;
    margin: 10px 0 0 40px;
  }
}

.userDetails {
  width: 30%;
  height: 100%;
}

.userName {
  padding-left: 40px;
  padding-top: 45px;
  font-size: 23px;
  max-width: 250px;
}
.userEmail {
  padding-left: 40px;
  margin: 10px 0 30px 0;
}
.userTrip {
  height: 600px;
  max-height: 600px;
  color: black;
  width: 30%;
  display: inline-block;
  float: right;
  background-color: rgba(255,255,255,.9);
  margin: 10px 0 10px 0;
}

.tripContainer {
  background-color: rgba(255,255,255,.8);
  width: 65%;
  height: 100%;
  float: right;
  margin: 0 40px 0 0;
  display: flex;
  position: relative;
  top: -397px;
  padding-left: 20px;
}
.mytrips {
  position:relative;
  top: 20px;
  left: 20px;
  color: #0A5673;
  font-size: 1.75em;
  z-index: 1;
  height: 30px;
}
.trips {
  flex-direction: column;
}
.triplist {
  position: relative;
  // top: -130px;
  // height: 40px;
  font-size: 2em;
  width: 100%;
}
.user-trip {
  position: relative;
  right: 530px;
  top: 100px;
  width: 200px;
  height: 45px;
  font-size: 1.4em !important;
}
.first-button{
  margin-left: 80px;
}
.display-title {
  display:block;
}
.btn-primary {
  color: #fff !important;
}
// .mytrips {
//   font-size: 2em;
//   // display: block;
// }
.mytrips-listings{
  position: relative;
  top: 180px;

}
.mytrips-listings li{
  list-style-type: none;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  min-width: 250px;
  min-height: 50px;
  background-color: blue;
  background: linear-gradient(to left, #0A5673  , #513783 );
  text-transform: uppercase;
  letter-spacing: .3em;
  color: #fff;
  width: 90%;
  &:hover {
    background: linear-gradient(to left, #513783, #0A5673);
    // background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}

#cog {
  font-size: 13px;
  float: right;
  padding: 4px;
}
#eye {
  font-size: 13px;
  float: right;
  padding: 4px;
}
#trash {
  font-size: 13px;
  float: right;
  padding: 4px;
}
.mytrips-listings a:hover {
  text-decoration: none;
}
.mytrips-listings a {
  color: #fff;
}
@font-face{
  font-family:'Brandon Grotesque';
  src: url("assets/Brandon Grotesque/Brandon Grotesque Regular.otf") format("opentype");
  font-weight:normal;font-style:normal
}
@font-face{
  font-family:'Brandon Grotesque Bold';
  src:url("./assets/fonts/Brandon Grotesque/Brandon Grotesque Bold.otf") format("opentype");
  font-weight:bold;font-style:normal
}
