// Place all the styles related to the Vraienues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    width: 100%;
  }

}

body {
  font-family:'Brandon Grotesque';
}

.maincontainer {
  min-width: 960px;
  background-color: #020204 ;
  width: 100%;
  height: 100%;

}

.maindiv {
  // height: 600px;
  background-color: #123;
  background-image: url('background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  height: 100%;
}

.results {

  padding-top: 30px;
  width: 650px;
  margin: 0 auto;
  position: relative;

}
.bus-name {
  font-size: 1.5em;
  font-weight: 200;

}


.venues li {

  list-style-type: none;
  display: inline;
  float: left;


}

.venues {
  min-height: 220px;
  border-bottom: 1px solid #b5b5b5;
  padding-top: 42px;
  padding-bottom: 100px;
  background-color: rgba(255,255,255,.8);
  color: #505151;
  width: 675px;
  margin: 0 auto;
  line-height: 1.55em;
  &:hover {
    background-color: #ffffff;
  }

}
.venues a{
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.venues a:hover{
  background-color: #d3d3d3;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}


.venues li:last-child {
  float: right;
  margin-right: 50px;
  position: relative;
  top: 30px;

}


.venues li:nth-child(3) {

  width: 300px;

}
.venues:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.venues:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}


.phone {
  margin-top: -10px;
}

.image img {
  width: 125px;
  margin: 0 20px 0 10px;
  border: 10px solid #fff;
  box-shadow: 1px 1px 10px #000;
  border-radius: 6px;
}

.venue-check {

  display:inline-block;
  position: relative;
  top: 45px;

}

input[type=checkbox]{
  height:25px;
  width:25px;
  padding:0;
  display:block;
  float:left;
  display:inline-block;
  vertical-align:middle;
}



// -webkit-----------------------CREATE TRIP BUTTON : ;
// -moz-----------------------CREATE TRIP BUTTON : ;
// -ms-----------------------CREATE TRIP BUTTON : ;
// -o-----------------------CREATE TRIP BUTTON : ;
// ----------------------CREATE TRIP BUTTON : ;
.createtrip-venues {
  background: linear-gradient(to left,#0A5673, #513783);
  border-radius: 10px;
  letter-spacing: .15em;
  color: gray;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  font-weight:100;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  &:hover {
    color: #ffffff;
    background: linear-gradient(to left, #513783, #0A5673);
    // background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    // background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}



.trip-button {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 30px 0 30px 15px;
  margin-left: 104px;

}


.savetrip {
  background-color: rgba(255,255,255,.8);
  width: 676px;
  padding: 10px 10px 40px 10px;
  position: relative;
  left: 13px;
  margin: 0 auto;
  color: #5F5F5F;

}

.field-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;

}

.field-title {
  display: block;
  width: 300px;
  font-size: 1.5em;
  float: right;

}

.title-venues {
  background-color: rgba(255,255,255,.1);
  border: none;
  width: 170px;
  outline: none;
}

.startTime {
  padding-bottom: 10px;
}

.endTime {
  padding-bottom: 10px;
}
